html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-size: 1.8rem;
    font-family: $montserrat !important;
    background-color: #F2F2F2;
    
    @media only screen and (max-width: 678px) {
        font-size: 1.4rem;
    } 
}

a {
    text-transform: none;
    text-decoration: none;
    color: $white;
    transition: .4s ease;

    &:hover {
        color: $light-gray;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}